.favorites-list-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 4rem;
}

.favorite-remove-button {
  border-radius: 99em;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  padding: 0.8rem 1rem;
  cursor: pointer;
  width: 6rem;
  height: 3rem;
  transition: background-color 0.3s, color 0.3s;
}

.favorite-list-item {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  max-width: 30%;
}
