/* ----- Form with search input and button ----- */

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.search-bar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.search-input {
  border-radius: 99em;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  border: solid 1.6px var(--color-dark);
  min-width: 26rem;
}

.search-error-message {
  position: absolute;
  top: 3.8rem;
  right: 4.5rem;
  width: 100%;
  text-align: center;
}

.search-button {
  border-radius: 99em;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem;
  border: none;
  padding: 0.8rem 1rem;
  cursor: pointer;
  width: 8rem;
  height: 3.187rem;
  transition: background-color 0.3s, color 0.3s;
}
