.word-list-container {
  padding-top: 4rem;
  max-width: 60%;
}

.word-list-headline-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.word-list-favorite-button {
  border-radius: 99em;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  padding: 0.8rem 1rem;
  cursor: pointer;
  height: 3rem;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-list-synonyms,
.word-list-antonyms,
.word-list-example {
  font-weight: 600;
}
