header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-toggle-container {
  display: flex;
  flex-direction: column;
}

.theme-toggle-text {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-top: 0.5rem;
}

/* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border: 2px solid #252522; /* Border for light theme */
  border-radius: 34px;
  background-color: transparent; /* Transparent background to show the border */
}

/* Hide default HTML checkbox */
.toggle-switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-switch-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent; /* Transparent background to allow border to be visible */
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-switch-label:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #252525; /* Light mode knob color */
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch-checkbox:checked + .toggle-switch-label:before {
  transform: translateX(26px);
  background-color: #fff; /* Dark mode knob color */
}

.toggle-switch-checkbox:focus + .toggle-switch-label {
  box-shadow: 0 0 1px #636e77;
}

/* For the dark theme styling */
body[data-theme='dark'] .toggle-switch {
  border-color: #fff; /* Border for dark theme */
}

body[data-theme='dark'] .toggle-switch-label {
  background-color: transparent; /* Keep background transparent */
}

body[data-theme='dark'] .toggle-switch-label:before {
  background-color: #fff; /* This sets the knob color in dark mode */
}

/* For the light theme styling */
body[data-theme='light'] .toggle-switch {
  border-color: #252525; /* Keep border color for light theme */
}

body[data-theme='light'] .toggle-switch-label:before {
  background-color: #252525; /* This sets the knob color in light mode */
}
