/* ----- Default light theme styles ----- */

.App {
  background-color: var(--color-background-light);
  color: var(--text-color-dark);
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin: 0;
}

/* ----- Dark Theme Styles ----- */

.App[data-theme='dark'] {
  background-color: var(--color-background-dark);
  color: var(--text-color-light);
}

/* ----- Button styling for light mode ----- */

.App[data-theme='light'] button {
  background-color: var(--color-dark);
  color: var(--color-light);
  outline: solid 0.1rem var(--color-dark);
}

.App[data-theme='light'] button:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
  outline: solid 0.1rem var(--color-dark);
}

/* ----- Button styling for dark mode ----- */

.App[data-theme='dark'] button {
  background-color: var(--color-light);
  color: var(--color-dark);
  outline: solid 1.6px var(--color-light);
}

.App[data-theme='dark'] button:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
  outline: solid 1.6px var(--color-light);
}

.App-line.light {
  border-top: 1.2px solid var(--color-dark);
  margin-bottom: 3rem;
}

.App-line.dark {
  border-top: 1.2px solid var(--color-light);
  margin-bottom: 3rem;
}

.App-error-message {
  text-align: center;
  padding-top: 0.5rem;
}

/* ----- Styling ThemeToggle for light and dark mode (has to be global) ----- */

.theme-toggle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme-toggle-text {
  font-family: 'Space Grotesk', sans-serif;
  text-transform: uppercase;
  padding-top: 0.5rem;
}

/* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border: 1.6px solid var(--color-dark);
  border-radius: 34px;
  background-color: transparent;
}

/* Hide default HTML checkbox */
.toggle-switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-switch-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-switch-label:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-dark); /* Light mode knob color */
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch-checkbox:checked + .toggle-switch-label:before {
  transform: translateX(26px);
  background-color: var(--color-light); /* Dark mode knob color */
}

.toggle-switch-checkbox:focus + .toggle-switch-label {
  box-shadow: 0 0 1px #636e77;
}

/* For the dark theme styling */
.App[data-theme='dark'] .toggle-switch {
  border-color: var(--color-light);
}

.App[data-theme='dark'] .toggle-switch-label {
  background-color: transparent;
}

.App[data-theme='dark'] .toggle-switch-label:before {
  background-color: var(
    --color-light
  ); /* This sets the knob color in dark mode */
}

/* For the light theme styling */
.App[data-theme='light'] .toggle-switch {
  border-color: var(--color-dark); /* Keep border color for light theme */
}

.App[data-theme='light'] .toggle-switch-label:before {
  background-color: var(
    --color-dark
  ); /* This sets the knob color in light mode */
}
