@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap');

:root {
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-background-light: #fff;
  --color-background-dark: #252525;
  --color-light: #fff;
  --color-dark: #252525;
  --text-color-light: #fff;
  --text-color-dark: #252525;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* ----- h1, ul etc ----- */

h1 {
  font-size: 3.25rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.1;
}

ul {
  list-style: none;
}
