@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Prata&display=swap');

:root {
  font-family: 'Prata', serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-background-light: #fff;
  --color-background-dark: #252525;
  --color-light: #fff;
  --color-dark: #252525;
  --text-color-light: #fff;
  --text-color-dark: #252525;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* ----- h1, paragraphs etc ----- */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

li {
  font-family: 'Poppins', sans-serif;
}
