@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Prata&display=swap');

:root {
  font-family: 'Prata', serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default light theme colors */

body {
  --background-color: #fff;
  --text-color: #252525;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Dark theme colors */

body[data-theme='dark'] {
  --background-color: #252525;
  --text-color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
